body{
    font-family: "Segoe UI",sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 350;
    font-size:17px; 
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.lead{
    text-align: center;
}

#bienvenue{
    text-align: center;
    background-color: #15829D;
    color: #FFFFFF;
    margin-top: 2%;
}

.bleu{
    background-color: #15829D;
    color: #FFFFFF;
}

.blanc{
    background-color: #FFFFFF;
}

.boxaccueil{
    border-radius : 5px;
    margin-left : 15px;
    margin-bottom: 5%;
    height: 200px;
    text-align: center;
    cursor : pointer;
}

.dp{
    margin-right: 10.5%;
}

#gb{
    width: 3%;
    height : 3%;
    margin-bottom: 2%;
    cursor: pointer;
}



.col-md-2 .col-2 .col-sm-2{
    margin-left: 70%;
}


#footer{
    background-color: #15829D;
    text-align: center;
    color : #FFFFFF;
}

#footerj{
    background-color: #15829D;
    text-align: center;
    color : #FFFFFF;
}