/*commun à toutes les pages*/

body {
  font-family: "Segoe UI",sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
  font-size:17px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.nav-item {
  margin-right:20px;
}

nav{
    text-align: center;
    position: fixed;
}

.navbar{
    background-color: #15829D;
    color : #FFFFFF;
    margin-bottom: 4%;
}


#gb{
    width: 50%;
    height : 75%;
    margin-bottom: 2%;
    cursor: pointer;
}

h1{
    text-decoration: underline;
    text-decoration-color: #15829D;
    font-weight :bold;
    margin-bottom: 2%;
}

footer{
    margin-top : 2%;
    background-color: #12829D;
    color : #FFFFFF;
    text-align: center;
}

#footerj{
    background-color: #12829D;
    color : #FFFFFF;
    text-align: center;
}

/*page ParcourScolaire*/

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #15929D;
    position : center;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -42px;
  width: 15px;
  height: 15px;
  background: #15829D;
  border: 5px solid #15829D;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #15829D;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.parcours {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  top: 20px;
  -webkit-transition: -webkit-transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  -webkit-transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #15829D;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #000000;
  margin-right: 20px;
  -webkit-transform: translateX(20px);
  -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #000000;
  -webkit-transition: color 0.3s linear 0.3s;
}

.radio:checked ~ .content .lieu {
  max-height: 200px;
  color: #15829D;
  -webkit-transition: color 0.3s linear 0.3s;
}

pre{
    font-family: "Segoe UI",sans-serif;
    font-weight: 500;
  font-size:17px;
}

/*Page Compétences*/


hr{
    font-weight : 5%;
    background-color : #15829D;
}

.grey{
    height:30px;
    width:450px;
    background-color : #EBEDED;
    margin-bottom: 4%;
}

.green{
    background-color :#15829D;
    padding-right: 10%;
    font-size: 90%;
    height:100%;
    width:0%;
    color : #FFFFFF;
}

#divDevRes{
    margin-right: 15%;
}

.comp{
    font-size:110%;
}

.grey1{
    height:30px;
    width:400px;
    background-color : #EBEDED;
    margin-bottom: 4%;
}

.green1{
    background-color :#15829D;
    padding-right: 10%;
    font-size: 90%;
    height:100%;
    width:0%;
    color : #FFFFFF;
}

#col1{
    margin-right: 6%;
}

#col2{
    margin-right: 6%;
}

/* page réalisations */

.box{
    border-radius : 5px;
    margin-left : 15px;
    margin-bottom: 5%;
    height: 200px;
    text-align: center;
    cursor : pointer;
}

#portfolio{
    background-image: url("../../Images/portfolio.jpg");
    background-size : contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.15);
    color : #000000;
    margin-left: 15%;
    font-weight: 350;
}

.dp{
    margin-right: 10.5%;
}

#marathon{
    background-image: url("../../Images/marathon.jpg");
    background-size : contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.15);
    color : #000000;
    font-weight: 350;
    opacity : 0.8;

}

#portal{
    background-image: url("../../Images/portal.jpg");
    background-size : contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.15);
    color : #FFFFFF;
    margin-left: 15%;
    font-weight: 350;
}

#refonte{
    white-space: normal;
    background-image: url("../../Images/refonte.jpg");
    background-size : contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.15);
    opacity : 0.8;
}

#imaginarium{
    background-image: url("../../Images/imaginarium.jpg");
    background-size : contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.15);
    margin-left : 35%;
}


/* page cv */

p{
    margin-left: 3%;
    margin-top: 2%;
}

iframe{
    width : 50%;
    height : 1000px;
    margin :auto;
}

/* page contact */

a{
    color: #15829D;
}

.link{
    cursor : pointer;
}

.icone{
    margin-right : 1%;
}

#linkedin-icon{
    height: 1.85%;
    width : 1.85%;
}

.gras{
    font-weight : bold;
}
