body {
  font-family: "Segoe UI",sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
  font-size:17px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.nav-item {
  margin-right:20px;
}

nav{
    text-align: center;
    position: fixed;
}

.navbar{
    background-color: #15829D;
    color : #FFFFFF;
    margin-bottom: 4%;
}


#fr{
    width: 50%;
    height : 75%;
    margin-bottom: 2%;
    cursor: pointer;
}

h1{
    text-decoration: underline;
    text-decoration-color: #15829D;
    font-weight :bold;
    margin-bottom: 2%;
}

footer{
    margin-top : 2%;
    background-color: #12829D;
    color : #FFFFFF;
    text-align: center;
}

#footerj{
    background-color: #12829D;
    color : #FFFFFF;
    text-align: center;
}

#timeline {
  list-style: none;
  margin: 50px 20px 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #15929D;
    position : center;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -42px;
  width: 15px;
  height: 15px;
  background: #15829D;
  border: 5px solid #15829D;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #15829D;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.lab {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  top: 20px;
  -webkit-transition: -webkit-transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  -webkit-transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #15829D;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #000000;
  margin-right: 20px;
  -webkit-transform: translateX(20px);
  -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #000000;
  -webkit-transition: color 0.3s linear 0.3s;
}

.radio:checked ~ .content .lieu {
  max-height: 200px;
  color: #15829D;
  -webkit-transition: color 0.3s linear 0.3s;
}

pre{
    font-family: "Segoe UI",sans-serif;
    font-weight: 500;
  font-size:17px;
}
